html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #4684ee;
    }
.loader
  {
  color: #fff;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 20vh;
  opacity: 0.8;
  }
.loader span
 {
  display: inline-block;
  animation: pulse 0.4s alternate infinite ease-in-out;
}
.loader span:nth-child(odd)
 {
  animation-delay: 0.4s;
  }
@-webkit-keyframes pulse
{
  to
   {
  transform: scale(0.8);
    opacity: 0.5;
  }
}
@keyframes pulse
{
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}
  button{
    background-color:#4684ee;
    border: none;
    border-radius: 50px;
    color: white;
     padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-family: Consolas, Menlo, Monaco, monospace;
    font-weight: bold;
    font-size: 20vh;
    opacity: 0.8;
  }

  .button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.8), 0 20px 80px 0 rgba(0,0,0,0.25);
  }



}
